.color-primary {
  color: var(--el-color-primary);
  transition: 200ms ease;
}

.hover-pointer:hover {
  cursor: pointer;
  transition: 200ms ease;
}

.link:hover {
  color: var(--el-color-primary);
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: var(--spacing-1);
}
